/.Xil/
/NA/
/ip_config/
/ip_repo/
/src/ip/
/src/system.bda
/.preflight_src_ip_backup_*/
/openwifi_plutosky_r2/
/project_1/
/vivado*.jou
/vivado*.log
/src/synth/
/src/sim/
/src/ipshared/
/src/hw_handoff/
/src/hdl/
/src/common/
/src/system.bxml
/src/system_ooc.xdc
